:root {
  --prim채r: #4a6cf7;
  --sekund채r: #ff3f5e;
  --akzentfarbe: #ff6b00;
  --gradient-start: #8a2be2;
  --gradient-end: #1e1e9c;
  --light-mode-Text: #2c2c2c;
  --dark-mode-Text: #ffffff;
  --light-mode-hintergrund: #f5f5f5;
  --men체: #e2e2e2;
}

p {
  color: var(--light-mode-Text);
  margin: 2vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--light-mode-hintergrund);
}

.h1_Fragebogen {

  color: var(--sekund채r);
}

.Fragebogen {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  margin: 7%;
}

.h3_Fragebogen {

  text-align: center;
  color: var(--light-mode-Text);

}

.Text_Workouts_weak {
  font-size: 1.2rem;
}

#Workouts_weak {
  width: 100%;
  height: 7vh;
  border-radius: 100vh;
  border: 2px solid black;
  text-align: center;
}

.div_Workouts_weak {
  text-align: center;
}

.Text_duration_Workout {
  font-size: 1.2rem;
}
#duration_Workout {
  width: 100%;
  height: 7vh;
  border-radius: 100vh;
  border: 2px solid black;
  text-align: center;
}

.div_duration_Workout {
  text-align: center;
}

.Text_Level {
  font-size: 1.2rem;
}
#Level {
  width: 100%;
  height: 7vh;
  border-radius: 100vh;
  border: 2px solid black;
  text-align: center;
}

.div_Level {
  text-align: center;
}

.Text_Equipment {
  font-size: 1.2rem;
}
.div_Equipment {
  height: 70vh;
  text-align: center;
}

.Text_Zielmuskeln {
  font-size: 1.2rem;
  margin-top: 5vh;
}

.div_Zielmuskeln {
  text-align: center;
  height: 100vh;
}

.Text_Ziele {
  font-size: 1.2rem;
  margin-top: 5vh;
}
.div_Ziele {
  text-align: center;
  height: 100vh;
}


#button {
  color: white;
  font-size: 3vh;
  height: 7vh;
  display: grid;
  place-items: center;
  background-color: var(--akzentfarbe);
  border: none;
  border-radius: 2vh;
}

.div_button {
  height: 14vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_equipment {
  width: 100%;
  height: 5vh;
  border-radius: 10vh;
  border: none;
  background-color: #d3d3d3;
  margin: 1vh;
  font-size: 2.5vh;
}

.button_muskeln {
  width: 100%;
  height: 5vh;
  border-radius: 10vh;
  border: none;
  background-color: #d3d3d3;
  margin: 1vh;
  font-size: 2.5vh;
}
.button_Ziele {
  width: 100%;
  height: 5vh;
  border-radius: 10vh;
  border: none;
  background-color: #d3d3d3;
  margin: 1vh;
  font-size: 2.5vh;
}

.button_key {
  position: absolute;
  bottom: 0;
  z-index: 1000;
}
@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
    opacity: 0.6;
  }

  50% {
    transform: scale(1.5);
    opacity: 1;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-mode-hintergrund);
  gap: 10px;
  z-index: 2000;
}
.loader h3 {
  position: absolute;
  top: 40vh;
}
.loader span {
  width: 15px;
  height: 15px;
  background-color: #ff6b6b;
  /* CaliCoach Rot */
  border-radius: 50%;
  animation: pulse 0.6s infinite ease-in-out;
}

.loader span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  animation-delay: 0.4s;
}

